<h1> Todos os Posts</h1>

    <% if @posts.present? %>
        <ul>
            <%@posts.each do |post| %>
                <li>
                    <%= link_to post.title, post_path(post) %> (por <%= post.user.try(:username) %>)
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>Não há posts publicados ainda.</p>
<% end %>